@using MVC3.ImagesInDropdownLists.ViewModels;

@model CreateContestantViewModel

@{
    ViewBag.Title = "Contest Registration";
}

<h2>Register For the Big, Super-Secret Event!</h2>
@using (Html.BeginForm("Create", "Contestant", FormMethod.Post))
{ 
    <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
    <div class="editor-field">@Html.TextBoxFor(m => m.FirstName)</div>
    <div>@Html.ValidationMessageFor(m => m.FirstName)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
    <div class="editor-field">@Html.TextBoxFor(m => m.LastName)</div>
    <div>@Html.ValidationMessageFor(m => m.LastName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Age)</div>
    <div class="editor-field">@Html.TextBoxFor(m => m.Age)</div>
    <div>@Html.ValidationMessageFor(m => m.Age)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.CountryId)</div>
    <div class="editor-field">@Html.DropDownListFor(m => m.CountryId, "../../Content/Images/", Model.AllCountries, new { id = "selectCountry" })</div>
    
    <input id="save" type="submit" value="Submit"/>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/msdropdown/jquery.dd.js")"></script>
<script type="text/javascript">
    $(function () {
        $('#selectCountry').msDropDown();
    })
</script>